<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Film Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Actors and Films </h1>
    <div th:if="${!films.empty}">
        <table>
            <tr>
                <th>Actor Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Film_id
                <th> Film </th>
                <th>Last Update</th>
            </tr>
            <tr th:each=" film : ${films}">
                <td th:text="${film.actor_id}">Actor Id</td>
                <td th:text="${film.first_name}">First Name</td>
                <td th:text="${film.last_name}">Last Name</td>
                <td th:text="${film.film_id}"> Film ID</td>
                <td th:text="${film.title}"> Title</td>
                <td th:text="${film.last_update}">Last Update</td>
            </tr>
        </table>
    </div>
    <div th:if="${films.empty}">
        <h3>No actors found!</h3>
        <h1> it works though</h1>
    </div>
</body>
</html>